# --- GERAL ---
AIRFLOW_UID=1001 #50000

# --- POSTGRES ---
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow_pass
POSTGRES_DB=airflow

# --- AIRFLOW CREDENCIAIS ---
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin_pass
FERNET_KEY=t_v_f5u_I_WvK-fO4f_f6v7f8v9f0f1f2f3f4f5f6f7=

# --- VISITANTE AIRFLOW CREDENCIAIS ---
VISITANTE_USERNAME=visitante
VISITANTE_PASSWORD=visitante123

# --- GRAFANA ---
GRAFANA_ADMIN_PASSWORD=grafana_pass

# --- LOGS DO SISTEMA ---
LOG_LEVEL=INFO

# --- LLM (Ollama) ---
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2:1b
OLLAMA_TIMEOUT=30
OLLAMA_EMBEDDING_MODEL=nomic-embed-text

# --- RAG (ChromaDB) ---
CHROMA_HOST=localhost
CHROMA_PORT=8100

# --- MCP Server ---
FASTAPI_BASE_URL=http://localhost:8000